body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --button-color: rgba(66, 83, 233, 0.123);
  --button-hover-color: rgba(45, 81, 238, 0.208);
  --button-active-color: rgba(45, 81, 238, 0.803);
  --main-bg-color: floralwhite;
  --std-border: 2px groove rgba(0, 0, 0, 0.281);
  --app-height: 90vh;
  --header-height: 10vh;
}

button{
  font-weight: bold;
  background-color: var(--button-color);
}

button:hover{
  cursor: pointer;
  background-color: var(--button-hover-color);
}

button:active{
  background-color: var(--button-active-color);
}

.page_container{
  width: 100%;
  height: 100vh;
  background-color: rgba(94, 132, 165, 0.425);
  display: flex;
  flex-direction: column;

}


/* App */

.app_container{
  /* padding-top: 20%; */
  height: var(--app-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--main-bg-color);
}

.app {
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
}

/* Header */

.header{
  width: 100%;
  height: var(--header-height);
  background-color: black;
  display: flex;
  flex-direction: row;
}

.imgheader{
  display: block;
  max-height: var(--header-height);
}

/* App parts */

.solutions{
  height: var(--app-height);
  width: 15%;
  /* border-bottom: 2px groove rgba(0, 0, 0, 0.281) */
}

.solution_button{
  width: 100%;
  height: 10vh;
  border-top: none;
  border-bottom: var(--std-border);
  border-right: none;
  border-left: none;
  /* border-radius: 6%; */
}


/* work surface */
.workSurface{
  border-top: none;
  border-bottom: none;
  border-right: var(--std-border);
  border-left: var(--std-border);
  height: var(--app-height);
  width: 70%;
}

.mapContainer{
  height: var(--app-height);
  /* border-radius: 1%; */
}

.controlPad{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  background-color: var(--main-bg-color);
  border: var(--std-border);
}

.controlPadButton{
  width: 100%;
  height: 5vh;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;;
}

/* statistics */
.statistics{
  height: var(--app-height);
  width: 15%;
}

.statisticsDisplay{
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: var(--button-color);
  border-top: none;
  border-bottom: var(--std-border);
  border-right: none;
  border-left: none;
}